body {
  background-color: black;
  color: white;
}
.bracelets {
  padding-top: 2rem;
  background-image: linear-gradient(to right, grey, black);
  border: 3px solid white;
}

.container {
  padding-top: 2rem;
  background-image: linear-gradient(to right, royalblue, black);
  border: 3px solid white;
}