.jumbotron {
  padding-bottom: 50px;
}
body {
  background-color: white;
}
h1 {
  text-align: center;
  font-size: 40px;
  color: white;
}
.jewels {
  padding-top: 2rem;
  background-image: linear-gradient( to right, black, rgb(126, 22, 22), black);
  border: 3px solid white;

}