
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap');

body {
  background-color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
}
.jumbotron {
  padding-bottom: 50px;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: white;
}
.jewels {
  padding-top: 2rem;
  background-image: linear-gradient( to right, black, rgb(126, 22, 22), black);
  border: 3px solid white;

}