@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap');

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: black;
  color: white;
}
.bracelets {
  padding-top: 2rem;
  background-image: linear-gradient(to right,black, rgb(5, 188, 42), black);
  border: 3px solid white;
}
.rings {
  padding-top: 2rem;
  background-image: linear-gradient(to right,black, grey, black);
  border: 3px solid white;
}

.chains {
  padding-top: 2rem;
  background-image: linear-gradient( to right, black, rgb(203, 0, 162), black);
  border: 3px solid white;
}
.earrings {
  padding-top: 2rem;
  background-image: linear-gradient(to right,black, rgb(72, 114, 198), black);
  border: 3px solid white;
}

.loginForm {
  padding: 20px;
  color:white;
}
.signUpForm {
  padding: 40px;
  background-color: black;
}
.updateForm {
  padding: 40px;
}
.inquiryForm {
  padding: 50px;
  background-color: black;
}
p:hover {color: black}

.gallery {
  float: left;
  width:  500px;
  height: 500px;
  object-fit: cover;
  padding: 10px;
}